{% extends "homepage.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block signup %}
    {% if user.is_authenticated %}
        <p>{% trans "You are already logged in." %}</p>
    {% else %}
        <p>{% trans "Already have an account?" %} <a href="{% url acct_login %}">{% trans "Log In" %}</a>!</p>
        
        <form id="signup_form" method="post" action="{% url acct_signup %}" autocapitalize="off">
            {% csrf_token %}
            <fieldset>
                {% if form.non_field_errors %}
                    <div class="alert-message block-message error">
                        <p>
                            <strong>{{ form_error_title }}</strong>
                            <ul>
                                {{ form.non_field_errors|unordered_list }}
                            </ul>
                        </p>
                    </div>
                {% endif %}
                {% for field in form %}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% else %}
                        <div class="clearfix{% if field.errors %} error{% endif %}">
                            {% if field.label %}
                                <label for="{{ field.auto_id }}" {% if field.field.required %}class="requiredField"{% endif %}>
                                    {{ field.label|safe }}
                                </label>
                                <div class="input">
                                    {{ field }}
                                    {% for error in field.errors %}
                                        <span class="help-block-inline">{{ error }}</span>
                                    {% endfor %}
                                    {% if field.help_text %}
                                        <span class="help-block">{{ field.help_text|safe }}</span>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}

            </fieldset>
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="actions">
                <button type="submit" class="btn primary">{% trans "Sign Up &raquo;" %}</button>
            </div>
        </form>

        {% ifsetting ACCOUNT_USE_OPENID %}
        <p>{% trans "Or sign in with your OpenID" %}:</p>
        <form action="/openid/register/" method="POST" autocapitalize="off">
            {% csrf_token %}
            <fieldset>
                {% if url_required %}
                    <div class="clearfix">
                        <label for="id_username">* OpenID Identifier</label>
                        <div class="input">
                            <input class="openid" type="text" name="openid_url" />
                        </div>
                    </div>
                {% else %}
                    <div class="clearfix">
                        <label for="id_username">* OpenID Identifier</label>
                        <div class="input">
                            <input class="openid" type="text" name="openid_url" />
                        </div>
                    </div>
                {% endif %}
                <div class="actions">
                    <input type="submit" value="{% trans "Log in" %}" class="btn primary" />
                </div>
            </fieldset>
        </form>
        {% endifsetting %}
        
        {% url terms as terms_url %}
        {% url privacy as privacy_url %}
        <small>By clicking 'Sign Up', you are indicating that you have read and agree to the <a href="{{ terms_url }}">Terms of Use</a> and <a href="{{ privacy_url }}">Privacy Policy.</a>"</small>
        <br />
        <br />
        <small>If you have any trouble creating your account, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a></small>
        
    {% endif %}
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        $(function(){
            $("#id_username").focus();
        });
    </script>
{% endblock %}